
.second{
    background-color: #262A56;
    text-align: center;
    width: 300px;
    height: 900px;
    float: right;
}
h3{
    color: rgba(14, 82, 65, 0.899);
    padding-left: 10px;
}
.first{
    
   margin-right: 30%;
   margin-top: 0;
}
p{
    padding-left: 20px;
}
div{
    align-items: center;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
h2{
    color: aliceblue;
}
p>span.white{
    color: aliceblue;
}
p>span.fo{
    color: aliceblue;
}
.new{
    float: left;
    padding-left: 20px;
}

.old{
    color: aliceblue;
}
.to{
    float: left;
    color: aliceblue;
}
.first{
    line-height: 2;
}
.third{
    background-color: #19376D;
    height: 1100px;
}
.fo{
    float: left;
}
.ii{
    width: 100%;
    overflow: auto;
    background-color: #B9E9FC;
}
progress{
    background-color: #eee;
    width: 60%;
    margin-left: 40px;
    border-radius: 2px;
    color: aquamarine;

}
.x{
    color: aliceblue;
}
.container{
    margin-left: 200px;
    margin-right: 200px;
}
.date{
    float: right;
}
.exp-appfoster{
    color: black;
}
.ex-date{
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}
p{
    align-items: center;
}