img{
    width: 190px;
    
}
.one{
    margin-left: 100px;

}
.two{
   
    margin-left: 300px;
}
.three{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 500px;
}
.four{
    margin-left: 100px;
}
.nice{
    margin-left: 100px;
}
